* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1rem;
    font-weight: 400;
    color: white;
    background-color: #555;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

/* Header and nav bar */

.header {
    margin-bottom: 2em;
}
.nav {

}

.nav-list {
    display: flex; 
    justify-content: center;
    align-items: center;  
}

.nav-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: inherit;
    margin: 0 0.5em;
}

.current-page {
    border-bottom: 2px solid;
}

.nav-link:hover,
.nav-link:focus {
    color: red;
}

/* Hero Section */

.hero-section {
    width: 80%;
    text-align: center;
    margin: 0 auto;

}

.hero-text {
    color: white;
    border: 1px solid red;
}

.hero-img {
    
    border: 1px solid red;
}

img {
    width: 100%;
}
