@import url('https://fonts.googleapis.com/css2?family=Karla&family=Rubik:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    background-color: #171717;
    font-family: 'Karla', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Headings */
h1,
h2,
h3,
h4 {
    font-family: 'Rubik', sans-serif;
}

/* Header and Nav Bar Section */
.header {
    background-color: #171717;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border-bottom: 2px solid #ff3939;
    padding-bottom: 0.2em;
}

.title {
    text-decoration: none;
    color: #fff;
}

.nav-item {
    list-style: none;
    padding: 0.2em 1em;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    padding-bottom: 0.2rem;
}

.nav-link:hover,
.nav-link:focus {
    color: #555;
}

.current-page {
    border-bottom: 2px solid #fff;
}

/* Hero Section */
.hero {
    background-color: #171717;
    padding: 2em;
}

.hero-text {
    font-size: 1.5rem;
    background-color: #171717;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-text-heading {
    font-size: 2.5rem;
    margin-bottom: 0.2em;
}

.hero-text-top {
    order: -1;
}

.btn {
    text-decoration: none;
    color: #fff;
    background-color: #ff3939;
    padding: 0.3em 1em;
    border-radius: 100px;
    border: 2px solid black;
}

.btn:hover,
.btn:focus {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #fff;
}

.hero-img {
    margin: 0 auto;
}

img {
    width: 100%;
}

/* About Section */
.about {
    background-color: #171717;
}

.about-text {
    font-size: 1rem;
    padding: 2em;
    max-width: 1500px;
    text-align: center;
    margin: 1em auto;
}

.about-title {
    margin-bottom: 1em;
}

.about-imgs {
    padding: 2em;
}

.about-image {
    border-radius: 8px;
}

.about-image1 {
    background-color: black;
}

/* Chef Section */
.chef {
    padding: 2em;
    background-color: #171717;
    text-align: center;
    margin: 0 auto;
    font-size: 1rem;
}

.chef-quote {
    color: #ff3939;
    max-width: 1500px;
    text-align: center;
    margin: 1em auto;
}

/* Booking Page */
.book {
    background-image: url(../images/book-background.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    background-color: #171717;
}

.form-div {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 80%;
}

.form {
    display: inline-block;
    margin: 20% auto;
    text-align: left;
    border: 2px #fff solid;
    padding: 2em 5rem;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 4px;
}

.form-title {
    text-align: center;
    margin-bottom: 0.2em;
    font-size: 1.2rem;
}

.form-hours {
    text-align: center;
    font-size: 1rem;
}

.hour-top {
    margin-bottom: 0.1em;
}

.hour-bottom {
    margin-bottom: 0.3em;
}

.input {
    width: 100%;
    margin-bottom: 1em;
    border-radius: 4px;
    padding: 0.2em 0.4em;
    font-family: inherit;
}

.input:hover,
.input:focus {
    outline: none;
    border-color: #ff3939;
}

.form-btn {
    font-size: 1.2rem;
}

.date,
.time,
.guests {
    margin-bottom: 1em;
    font-family: inherit;
}

.submit {
    display: block;
    margin: 0 auto;
}

/* Our Food Page */
.menu {
    background-color: #fff;
}

.menu-banner {
    margin: 0 auto;
}

.menu-title {
    text-align: center;
    color: #171717;
    padding: 1em 0;
    font-size: 2rem;
}

.menu-item {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #555;
    border-radius: 8px;
    margin-bottom: 2em;
    padding: 1em;
}

.menu-text {
    max-width: 50%;
}

.menu-paragraph {
    color: #171717;
    margin: 0 auto 1em auto;
    text-align: center;
}

.menu-bottom {
    padding-bottom: 1em;
}

.menu h4 {
    color: #ff3939;
    font-size: 1.5rem;
    padding-bottom: 0.2em;
}

.menu-img {
    width: 50%;
    height: 50%;
}

/* Sushi Club Page */
.club-banner {
    background-image: url(../images/club-banner.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 22vh;
    margin: 0 auto;
    width: 80%;
}

.club-title {
    text-align: center;
    padding-top: 0.4em;
    font-size: 2rem;
}

.make {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    background-color: black;
    margin: 0 auto;
}

.make-text {
    margin: 0 auto;
    padding: 2rem 2rem;
}

.make-bottom-text {
    font-size: 80%;
    margin-top: 1rem;
}

.make-title {
    margin-bottom: 1rem;
    color: #ff3939;
}

.make-list {
    text-align: left;
    margin-left: 1.1em;
    margin-top: 1em;
    display: flex;
    justify-content: space-around;
}

.left {
    margin-right: 1.1em;
}

.skill-top {
    margin-bottom: 0.5em;
}

.make-img2 {
    width: 50%;
    display: none;
}

/* Footer Section */
.footer {
    background-color: #171717;
    padding: 1.2em 0;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-link {
    list-style: none;
    padding: 0 0.2em;
    margin-bottom: 0.8em;
}

.social-linka {
    text-decoration: none;
    color: #fff;
    padding: 0 1em;
}

.social-linka:hover,
.social-linka:focus,
.credit-link:hover,
.credit-link:focus {
    color: #555;
}

.credit {
    text-align: center;
}

.credit-link {
    text-decoration: none;
    color: #fff;
}

.footer-book {
    margin-top: 5em;
}

/* Confirmation Page */
.confirmation {
    text-align: center;
}

.confirmation-title {
    margin-bottom: 0.5em;
}

.confirmation-mid {
    margin-bottom: 1em;
}

/* Media Queries */
@media (min-width:500px) {
    .form-div {
        width: 75%;
    }

    .form-title {
        font-size: 1.5rem;
    }

    .form-btn {
        font-size: 1.5rem;
    }
}

@media (min-width:600px) {
    .nav-list {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0.7rem;
    }

    .chef,
    .about-text {
        font-size: 1.5rem;
    }

    .form-div {
        width: 65%;
    }

    .menu-title {
        font-size: 2.5rem;
    }

    .make-skill {
        font-size: 1.5rem;
    }
}

@media (min-width:800px) {
    .form-div {
        width: 60%;
    }

    .make {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .make-text {
        align-self: flex-start;
        width: 50%;
    }

    .left {
        padding-right: 1rem;
    }

    .make-img {
        width: 50%;
    }

    .make-img {
        display: none;
    }

    .make-img2 {
        display: inline;
    }
}

@media (min-width:900px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em 0;
        font-size: 1.1rem;
    }

    .title {
        padding-left: 1em;
    }

    .nav-last {
        padding-right: 1em;
    }

    .hero {
        display: flex;
        justify-content: center;
    }

    .hero-text-heading {
        font-size: 4.5rem;
    }

    .hero-text,
    .menu-paragraph {
        width: 50%;
        font-size: 2.3rem;
    }

    .menu-bottom {
        font-size: 1.4rem;
    }

    .hero-img {
        width: 50%;
    }

    .about-imgs {
        display: flex;
        justify-content: space-between;
    }

    .about-image1,
    .about-image2,
    .about-image3 {
        width: 31.5%;
    }

    .chef,
    .about-text {
        font-size: 2rem;
    }

    .menu {
        width: 80%;
        margin: auto;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .menu-banner,
    .club-banner {
        width: 80%;
    }

    .menu-items {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu1,
    .menu2 {
        width: 45%;
    }

    .form-div {
        width: 55%;
    }

    .form-title {
        font-size: 2rem;
    }

    .form-btn {
        font-size: 2rem;
    }

    .club-title {
        padding-top: 0.8em;
    }

    .make-img {
        display: inline;
    }

    .make-img2 {
        display: none;
    }
}

@media (min-width:1000px) {
    .form-div {
        width: 50%;
    }

    .make-text {
        align-self: center;
    }
}

@media (min-width:1100px) {
    .form-div {
        width: 45%;
    }
}

@media (min-width:1200px) {
    .header {
        font-size: 1.4rem;
    }

    .form-div {
        width: 40%;
        font-size: 1.4rem;
    }

    .club-title {
        padding-top: 1.5em;
    }

    .menu h4 {
        font-size: 2.5rem;
    }

    .menu-text p {
        font-size: 1.5rem;
    }

    .club-banner {
        height: 35vh;
    }

    .club-title {
        font-size: 2.5rem;
    }

    .make-text {
        font-size: 2rem;
    }

    .make-title {
        font-size: 4rem;
    }

    .make-list {
        margin-top: 2.5em;
    }

    .make-skill {
        font-size: 2.5rem;
    }

    .make-img {
        display: none;
    }

    .make-img2 {
        display: inline;
    }
}

@media (min-width:1600px) {
    .make-img {
        display: inline;
    }

    .make-img2 {
        display: none;
    }

    .make-bottom-text {
        margin-top: 2em;
    }
}