* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
}


/* Header and nav bar */

.header {
    background-color: #171717;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border-bottom: 2px solid #ff3939;
}

.title {

}

.nav {

}
.nav-list {

}

.nav-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: #fff
}

.current-page {

}


/* Hero section */

.hero {
    background-color: #171717;
    width: 80%;
    margin: 0 auto;
    padding: 2em;
}

.hero-text {
    font-size: 1.5rem;
    background-color: #171717;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-text-heading {
    font-size: 2.5rem;
}

.hero-text-top {
    order: -1;
}

.hero-btn {
    text-decoration: none;
    color: #fff;
    background-color: #ff3939;
    padding: 0.1em 1em;
    border-radius: 100px;
    border: 2px solid black;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #fff;
}

.hero-img {
    margin: 0 auto;
}

img {
    width: 100%;
}

/* About */

.about {
    background-color: #171717;
    width: 80%;
    margin: 0 auto;
}

.about-text {
    padding: 2em;
}

.about-image1 {
    background-color: black;
}
/* Chef */

.chef {
    width: 80%;
    margin: 0 auto;
    padding: 2em;
    background-color: #171717;
}

.chef-quote {
    color: #ff3939;
}

/* Media */
@media (min-width:600px) {
    .nav-list {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
}


@media (min-width:900px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .hero {
        display: flex;
        justify-content: center;
    }

    .hero-text {
        width: 50%;
        border: 2px solid red;
    }

    .hero-img {
        width: 50%;
        border: 2px solid red;
    }

    .about-imgs {
        display: flex;
    }
}